-- bootstrap lazy.nvim, LazyVim and your plugins
require("config.lazy")

require("config.lspconfig")
require("config.neo-tree")
require("config.indent-blankline")
require("config.elvish-lsp")

{{- if or (eq .chezmoi.hostname "spiderman") (eq .chezmoi.hostname "drstrange") }}
if vim.g.neovide then
  require("config.neovide")
end
{{- end }}
