[Unit]
Description=Initializes the udiskie usb automounter

[Service]
Type=simple
ExecStart=/usr/bin/udiskie -t
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=

[Install]
WantedBy=graphical-session.target
