require("scripts.env")
{{- if eq .chezmoi.hostname .pc_hostname }}
require("scripts.monitors")
{{- end }}
require("scripts.workspace")
require("scripts.keybinds")
require("scripts.events")
require("scripts.config")
require("scripts.windows")
