# Note many of these functions require packages installed from the
# mcumovies-fan custom repository for Arch Linux which is not publicly
# available.  If using these dotfiles elsewhere, it is recommended
# that you remove this file.

use re
use github.com/crinklywrappr/rivendell/fun f
use github.com/crinklywrappr/rivendell/lazy l

fn kadmin  { kadmin -k -t {{ .keytab }} -p {{ .krb5_admin }} }
fn lvon    { hueadm group 1 on }
fn lvoff   { hueadm group 1 off }
fn bdon    { hueadm group 2 on }
fn bdoff   { hueadm group 2 off }
fn aron    { hueadm group 5 on }
fn aroff   { hueadm group 5 off }
fn restart-incus { ssh -t {{ .container_hostname_full }} -- sudo systemctl restart incus }
fn rd      { set_scene "{{ .scene_1_rd }}" 1 }
fn rdbr    { set_scene "{{ .scene_2_rd }}" 2 }
fn rr      { set_scene "{{ .scene_1_rr }}" 1 }
fn rrn     { set_scene "{{ .scene_1_rrn }}" 1 }

fn _container-to-hostname {|arg|
    var val = (re:replace '.*-replicated$' '' $arg)
    echo (re:replace '.*:.*-' '' $val)
}

fn _list-containers { incusls {{ .container_hostname }} | f:listify }

fn _containers-to-fqdn {|hosts| each {|h| put (_container-to-hostname $h)"{{ .domain }}"} $hosts | f:listify} 

var _u = "{{ .update_command }}"
fn update-containers {
  var hosts = (_containers-to-fqdn (_list-containers))

  peach &num-workers=4 {|h| ssh -t $h -- $_u } $hosts
}

